---
import About from '../components/About.astro';
import Hero from '../components/Hero.astro';
import Impressie from '../components/Impressie.astro';
import Meesterlijk from '../components/Meesterlijk.astro';
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Mooie Zooi Homepage'>
  <div class='max-w-[1280px] rounded-md'>
    <Navbar />
    <Hero />
    <main>
      <About />
      <Meesterlijk />
      <Impressie />
    </main>
  </div>
</Layout>
