---
import Layout from '../layouts/Layout.astro';
import { getPage } from '../utils/sanity';
import PortableText from '../components/PortableText.astro';
const homePage = await getPage('Homepagina');
---

<Layout title='Mooie Zooi Homepage'>
  <main>
    {
      homePage.components.map((page) => {
        return <PortableText value={page} />;
      })
    }
    <!-- <Impressie /> 
     <Appointment />  -->
  </main>
</Layout>
