---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Mooie Zooi Homepage'>
  <div
    class='max-w-[1000px] overflow-hidden relative w-full h-[600px] rounded-md bg-gradient-to-tr from-black to-slate-800'
  >
    <div>
      <h1 class='p-4 font-header text-7xl text-white font-medium tracking-wide'>
        MOOIE <br /><span class='pt-2 inline-block'>ZOOI</span>

        <div class='h-[5px] w-[100px] mt-8 bg-orange-400'></div>
      </h1>

      <p class='text-xs tracking-wide p-4 text-white w-[50ch]'>
        De naam Mooie Zooi is niet zo maar gekozen. Spullen die door menigeen worden
        afgedankt, blijken voor andere weer een mooie herinnering aan vroeger. Om
        zelf te genieten van deze buitenkansjes, struin ik rommelmarkten,
        kringloopwinkels en brocante fairs af. Na verloop van tijd en aandacht, komen
        deze leuke dingen in onze tuinkamer voor de verkoop. Ook de complete
        tuinkamer is gemaakt van afgedankte materialen, maar een sieraad in de tuin.
        Brocante, Retro en Vintage, het is allemaal te vinden bij Mooie Zooi.
      </p>
    </div>

    <div
      class='absolute top-0 right-[-180px] bg-orange-50 w-[60%] rotate-[15deg] h-[800px] origin-top-right'
    >
    </div>
    <div
      class='origin-top-left absolute top-[-40px] left-[55%] bg-yellow-300 w-[120px] h-[800px] rotate-[15deg]'
    >
    </div>
    <div
      class='origin-top-left absolute top-[-40px] left-[55%] bg-orange-400 w-[90px] h-[800px] rotate-[15deg]'
    >
    </div>
    <div
      class='origin-top-left absolute top-[-40px] left-[55%] bg-rose-500 w-[60px] h-[800px] rotate-[15deg]'
    >
    </div>
    <div
      class='origin-top-left absolute top-[-40px] left-[54.9%] bg-pink-950 w-[30px] h-[800px] rotate-[15deg]'
    >
    </div>
  </div>
</Layout>
