---
import About from '../components/About.astro';
import Hero from '../components/Hero.astro';
import Impressie from '../components/Impressie.astro';
import Categories from '../components/Categories.astro';
import Natuur from '../components/Natuur.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Mooie Zooi Homepage'>
  <main>
    <Hero />
    <About />
    <Categories />
    <Impressie />
  </main>
</Layout>
