<div class='container my-24 mx-auto md:px-6'>
  <!-- Section: Design Block -->
  <section class='mb-32'>
    <div
      class='block bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700'
    >
      <div class='flex flex-wrap items-center'>
        <div class='w-full shrink-0 grow-0 basis-auto lg:flex lg:w-6/12 xl:w-4/12'>
          <img
            src='./Left-Welcome.jpg'
            alt='Trendy Pants and Shoes'
            class='h-[400px] w-full object-contain lg:w-full lg:h-auto'
          />
        </div>
        <div class='w-full shrink-0 grow-0 basis-auto lg:w-6/12 xl:w-8/12'>
          <div class='px-6 py-12 md:px-12'>
            <h2 class='mb-4 text-2xl font-bold'>Niet zomaar een naam</h2>

            <p class='mb-6 text-neutral-500 dark:text-neutral-300'>
              De naam Mooie Zooi is niet zo maar gekozen. Spullen die door menigeen
              worden afgedankt, blijken voor andere weer een mooie herinnering aan
              vroeger. Om zelf te genieten van deze buitenkansjes, struin ik
              rommelmarkten, kringloopwinkels en brocante fairs af. Na verloop van
              tijd en aandacht, komen deze leuke dingen in onze tuinkamer voor de
              verkoop. Ook de complete tuinkamer is gemaakt van afgedankte
              materialen, maar een sieraad in de tuin. Brocante, Retro en Vintage,
              het is allemaal te vinden bij Mooie Zooi. Je bent meer dan welkom om
              zelf een moment van herkenning te beleven, maar bel of mail even van
              tevoren.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
