---
const { imgSrc, title, description } = Astro.props;
---

<div class=''>
  <img class='h-[400px] w-full object-cover' src={imgSrc} alt={title} />
  <h3 class='pt-2 text-inherit text-lg font-bold'>{title}</h3>
  <p>
    {description}
  </p>
</div>
