---
import Card from './Card.astro';
import { getAllCategories } from '../utils/sanity';
import { urlForImage } from '../utils/sanity';
const categories = await getAllCategories();
const { node } = Astro.props;
---

<section class='relative' id='categorieën'>
  <div
    class='block py-8 md:p-8 bg-white text-amber-950 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700'
  >
    <div class=''>
      <div class='px-6 py-6'>
        <h2 class='mb-4 text-2xl font-bold'>
          {node.title}
          <br />
          {
            node.subtitle && (
              <span class='text-lg md:text-xl'>
                zoek, door alle mooie zooi, op categorie
              </span>
            )
          }
        </h2>
      </div>

      <div class='splide' role='group' aria-label='Splide Basic HTML Example'>
        <div class='splide__track'>
          <ul class='splide__list'>
            {
              categories.map((cat) => {
                return (
                  <div class='splide__slide'>
                    <Card
                      title={cat.title}
                      description={cat.description}
                      imgSrc={urlForImage(cat.image)
                        .format('webp')
                        .height(400)
                        .width(400)
                        .url()}
                      slug={cat.slug.current}
                    />
                  </div>
                );
              })
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import Splide from '@splidejs/splide';

  new Splide('.splide', {
    pagination: false,
    arrows: true,
    gap: 20,
    perPage: 3,
    perMove: 1,
    breakpoints: {
      960: {
        perPage: 2,
      },
      640: {
        perPage: 1,
      },
    },
    classes: {
      arrow: 'splide__arrow bg-white',
    },
  }).mount();
  import '@splidejs/splide/css';
</script>
