---
import Card from './Card.astro';
---

<section>
  <div
    class='block p-8 bg-brocant-100 text-black shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700'
  >
    <div class=''>
      <div class='lg:px-6 py-6'>
        <h2 class='mb-4 text-2xl font-bold'>
          Impressie <br />
          <span class='text-xl'>- fotografie</span>
        </h2>
      </div>
      <div class='grid gap-6 w-full grid-cols-1 md:grid-cols-3'>
        <Card
          title='Challette Lendava'
          description='Doorkijkje door gietijzeren raam van cees'
          imgSrc='https://images.unsplash.com/photo-1509573563917-a778dc0a5477?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80'
        />
        <Card
          title='Open deur'
          description='Brocante vaas met diverse ronde oren'
          imgSrc='https://images.unsplash.com/photo-1503898362-59e068e7f9d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=735&q=80'
        />
        <Card
          title='Glaswerk'
          description='Handgeblazen glazen, effen rood'
          imgSrc='https://images.unsplash.com/photo-1646202726935-4bd89126c355?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80'
        />
      </div>
    </div>
  </div>
</section>
