---
import Card from './Card.astro';
---

<!-- Section: Design Block -->
<section>
  <div
    class='block p-8 bg-white text-amber-950 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700'
  >
    <div class=''>
      <div class='lg:px-6 py-6'>
        <h2 class='mb-4 text-2xl font-bold'>
          Meesterlijke Spullen <br />
          <span class='text-xl'>- fotografie</span>
        </h2>
      </div>
      <div class='grid gap-6 w-full grid-cols-1 md:grid-cols-3'>
        <Card
          title='Lampen'
          description='Kleine parteltjes uit de achterhoek'
          imgSrc='https://plus.unsplash.com/premium_photo-1674165227714-943ee986c04b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=735&q=80'
        />
        <Card
          title='Vazen'
          description='Brocante vaas met diverse ronde oren'
          imgSrc='https://images.unsplash.com/photo-1485364241206-55b522bbc828?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80'
        />
        <Card
          title='Lampen'
          description='Kleine parteltjes uit de achterhoek'
          imgSrc='https://plus.unsplash.com/premium_photo-1674165227714-943ee986c04b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=735&q=80'
        />
      </div>
    </div>
  </div>
</section>
