---
import { urlForImage } from '../utils/sanity';
import { PortableText } from 'astro-portabletext';
// import { components } from '../utils/components';
const { value: product } = Astro.props;
---

<article>
  <h1 class='text-5xl'>{product.title}</h1>
  <img
    src={urlForImage(product.image).width(300).format('webp').url()}
    alt={product.image.asset.altText || product.title}
  />
  <div class='prose prose-a:text-blue-600'>
    <PortableText value={product.description} />
  </div>
</article>
