---
const { bgColor, isFirst, width } = Astro.props;
---

<div
  class=`origin-top-left absolute top-[-40px] left-[${isFirst ? '54.9%' : '55%'}] ${bgColor} w-[${width}px] h-[120%] rotate-[15deg]`
>
</div>
